.login {
    background: white;
    width: 17.5rem;
    border-radius: .5rem;
    padding: 1.2rem 0;
    border: .15rem solid #000;
}

.login-header {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 0 1rem 0;
    border-bottom: .15rem solid #000;
    color: #000;
    font-weight: bold;
}

.login-user-icon {
    font-size: 1.3rem;
    color: #3c20f1;
}

.login-form {
    padding: 0 2rem;
    box-sizing: border-box;
}

.login-form .text-field {
    position: relative;
    margin: 1.5rem 0 0 0;
}

.text-field input {
    width: 100%;
    padding: 0 .1rem;
    height: 1.6rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .05rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: 0.15rem solid #a6a6a6;
}

.text-field label {
    position: absolute;
    top: 10%;
    left: .1rem;
    color: #1c00c8;
    transform: translateY(-10%);
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
}

.text-field span::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 0%;
    height: .1rem;
    background: #1c00c8;
    transition: .5s;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
    top: -1rem;
    font-size: 0.8rem;
    color: #1c00c8;
}

.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before {
    width: 100%;
    color: #1c00c8;
}

.forgot {
    cursor: pointer;
    color: #a6a6a6;
    font-size: 0.9rem;
}

.login-submit-div {
    text-align: center;
}

.login-submit {
    margin: 1rem 0;
    width: 60%;
    height: 2rem;
    background-color: #1c00c8;
    border-radius: 5rem;
    font-size: 1rem;
    color: white;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

.signup-link {
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}