.card {
    overflow: hidden;
    border: 0.12rem solid black;
    border-radius: 0.5rem;
    padding: 0.2rem .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 200ms ease-in;
    background-color: whitesmoke;
    height: 40vh;
    width: 100%;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card-no {
    padding: 0.2rem;
}

.card-title {
    padding: 0.2rem;
    color: #1c00c8;
}

.card-desc {
    padding: 0 0.2rem;
    font-size: 0.8rem;
    text-align: justify;
    text-justify: inter-word;
}

.card-owner {
    margin-top: auto;
    color: red;
    font-size: .8rem;
}

.popout {
    margin-left: auto;
    font-size: 1.3rem;
}

.popout:hover {
    color: #1c00c8;
}