.documentations {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 89vh;
    background-color: #ededf5;
}

.search-docx {
    width: 30rem;
    border-radius: 1.5rem;
    height: 2.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    background-color: whitesmoke;
    border: .1rem solid #d5d5d5;
}

.wrapper {
    display: grid;
    padding: 1rem 5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}